body{
        width: auto;
        height: auto;
    background-color: rgb(255, 219, 219);
 }
#login-window {
    margin-top: 10%;
}
.login-area{
        margin: 10%;
      padding: 5%;
      border: 15px solid rgb(54, 132, 235);
        border-radius: 15px;   
    }
.form-area{
    margin: 2%;
    padding: 2%;
    border: 5px solid rgb(54, 132, 235);
    background-color: rgb(138, 178, 231) ;
    border-radius: 10px;
    box-shadow: 5px 5px 15px gray;
}
button{
    margin-top: 3%;
}
button:hover{
        font-size: 110%;
}
.bank-image{
    width: 100px;
}
.font {
    font-family: 'Lobster', cursive;
    font-weight: 300;
}
.input{
    width: 250px;
    margin-left: 15px;
}
/* log in window of the bank is complete */

#transaction-area{
    display: none;
}
/* j id te  click korar por display block dilam sei id tai display none dao css sheet a */

.trans-area{
    margin: 10%;
}
.row{
    margin: 10px 25px;
}
.box{
    margin: 5px 15px;
    padding: 5px 15px;
    background-color: rgb(11, 63, 46);
    color: azure;
    text-align: center;
    border-radius: 15px;
}
/* transaction area 2 er style below */

#transaction-area2{
    display: none;
}

.diposit-withdraw-area{
    margin: 20px;
    padding: 20px;
    background-color: rgb(160, 187, 238);
    border-radius: 15px;
    box-shadow: 5px 5px 15px gray;
    /* ai j style dilam ta upor er .form-area er same */
}
.input-area{
    width: 260px;
}


